nav {
    background-color: gray;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first {
    display: flex;

}
.second {
    display: flex;
}

a {
    display: inline-block;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.logo {
    padding-top: .2em;
    padding-bottom:.2em;
    font-weight: bold;
    font-size: 3em;
}
a:hover {
    color: blue;
}